* {
  box-sizing: border-box;
}
header {
  background-color: #039FD8;
}
footer {
  background-image: url("../photos/footerImage.jpg");
  background-size: cover;
  background-color: #1b447f;
  color: white;
  padding: 3rem 3.5rem;
}
.footer-list {
  padding-bottom: 1rem;
}
.fab {
  font-size: 1.5rem;
  color: white;
}
.social-links a{
  text-decoration: none;
}
.fab:visited {
  color: white;
}
.fab:hover {
  color: #ecb722;
}
.fa-facebook-f,
.fa-instagram {
  padding-left: 2rem;
}
.header-logo {
  padding: 3rem;
  width: 20rem;
}
ul {
  list-style-type: none;
}
li {
  padding: 0rem 2rem;
}
.home-link,
.instructors-link{
  text-decoration: underline;
}
nav {
  margin: auto;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: white;
}
nav a:visited {
  color: white;
}
nav a:hover {
  color: #ecb722;
}
.about-p {
  font-size: 30px;
  color: #039FD8;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
body {
  margin: auto;
  font-family: Arial;
  font-size: 18.66px;
}
h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
}
h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
}
.services {
  color: #039FD8;
}
main {
  color: #444444;
  line-height: 1.5;
  padding-bottom: 4rem;
}
#skiptocontent a{
  position: absolute;
  top: -50px;
  left: 0px;
  padding: .5rem 1rem .5rem 1rem;
  transition: top .5s ease-in;
  color: white;
  background-color: #1b447f;
}
#skiptocontent a:focus {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: .5rem 1rem .5rem 1rem;
  transition: top .1s ease-out;
  color: white;
  background-color: #1b447f;
}
video {
  width: 100%;
}
.bio-line {
  border-bottom: 1px solid #039FD8;
  padding-bottom: 2rem;
}
.instructor-img {
  padding-top: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 9.09%);
  grid-template-rows: repeat(11, 8.33%);
}
.grid-item1 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.grid-item2 {
  grid-column: 2 / 6;
  grid-row: 2 / 6;
  border-top: 18px solid #039FD8;
  color: #03a3df;
}
.grid-item3 {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  border-top: 18px solid #039FD8;
  color: #03a3df;
}
.grid-item4 {
  grid-column: 2 / 6;
  grid-row: 8 / 12;
  border-top: 18px solid #039FD8;
  color: #03a3df;
}
.grid-item5 {
  grid-column: 2 / 6;
  grid-row: 1 / 12;
}
.grid-item6 {
  grid-column: 7 / 11;
  grid-row: 1 / 12;
}
.grid-item7 {
  grid-column: 7 / 11;
  grid-row: 8 / 12;
  border-top: 18px solid #039FD8;
  color: #039FD8;
}
